# Xcode
#
# gitignore contributors: autocomplete these known limitations of git-ignore
#
## Build results
build/
DerivedData/

## Xcode-specific
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Sensitive Files
NobetciEczane/Resources/Secrets.plist

## OS X
.DS_Store

## Swift Package Manager
.build/
.swiftpm/
